body {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 100vw;
  font-family: 'Orbitron', sans-serif;
}
.el1 {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(https://images.unsplash.com/photo-1517870662726-c1d98ee36250?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-position: center center;
  background-size: cover;
}
.el2 {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 2;
  background: black;
  opacity: .8;

}

.large-hero {
  width: 100%;
  height: 90vh;
  /* background-image: url(https://images.unsplash.com/photo-1517870662726-c1d98ee36250?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); */
  background-position: center center;
  background-size: cover;
  position: relative;
}

#word-container {
  /* background-image: url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-position: center center;
  background-size: cover; */
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: .3; */
  font-size: 1.55rem;
}

#word-header {
  transform: translateY(-250px);
  color: green;
  color: lightgreen;
}

.word-character {
  padding-left: 15px;
}

.nav {
  z-index:2;
  position: absolute;
  top:0;
  /* background-color:rgb(65, 65, 65);
  opacity: .7; */
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.5rem;
}

.instructions {
  z-index:2;
  position: absolute;
  top:85px;
  /* background-color:rgb(65, 65, 65);
  opacity: .5; */
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-instrunction {
  z-index:2;
  position: absolute;
  top:15vh;
  /* opacity: .5; */

  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navtitle {

  color: rgb(255, 137, 137);
  font-size: 4rem;
  font-weight: 100;
}

.instrunctions-title {
  color: lightgreen;
  font-size: 3rem;
  font-weight: 50;
}
.secondary-title {
  text-align: center;
  color: rgb(255, 194, 137);
  font-size: 2.5rem;
  padding: 1rem;
}

.statscontainer {
  position: absolute;
  top:30vh;
  z-index:2;
  font-size: 2.5rem;
  width: 100%;
  height: 65vh;
}

.stats {
  padding: 1rem;
  height: 100%;
  width: 40%;
  float:left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helper {
  position: absolute;
  top: 0;
  right: 12.5vw;
  /* float: right; */
  width: 75vw;
  height: 10vh;
  display: none;
  border: 1.5px solid rgb(239, 255, 137);
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 5px;
}


.stat-header {
  color: rgb(239, 255, 137);
  height: 70px;
  width: 100%;
  z-index:3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.55rem;

}

.default {
  display: block;
}

.wins {
  position: absolute;
  bottom: 10vh;
  left: 35vw;
  font-size: 1.75rem;
}
.guess-left {
  position: absolute;
  bottom: 20vh;
  left: 2rem;
  width: 25vw;
  font-size: 1.75rem;
}

.guess-number {
  position: absolute;
  bottom: 20vh;
  right: 1.5rem;
  width: 25vw;
  font-size: 1.75rem;
}

#guesses {
  margin-left: 1rem;
  color: rgb(137, 233, 255);
}
#wins {
  margin-left: 1rem;
  color: rgb(137, 233, 255);
}
#guesses-left {
  color: rgb(137, 233, 255);
}
@media (min-width: 1000px) {
  .navtitle {
    font-size: 3rem;
  }
  .wins {
 
    bottom: 5vh;

  }
}
@media (max-width: 800px) {
  .navtitle {
    font-size: 3rem;
  }
  .nav {
    height: 20vh;
  }
  .secondary-instrunction {
    top: 20vh;
  }
  .statscontainer {
    top: 30vh;
    height: 70vh;
  }
}

@media (max-width: 650px){
  .stat-header {
    font-size: 1.25rem;
  }
  .secondary-title {
    font-size: 2rem;
  }
  .navtitle {
    font-size: 2.25rem;
  }
  #word-container {
    font-size: 1.35rem;
  }
}
@media (max-width: 400px){
  #word-container{
    display: flex;
    justify-content: center;
  
  }
  .stat-header {
    font-size: .8rem;
  }
  .secondary-title {
    font-size: 1.35rem;
  }
  .navtitle {
    font-size: 1.65rem;
  }
  #word-container {
    font-size: .8rem;
    /* padding: 1rem; */
  }
  .wins {
    position: absolute;
    bottom: 10vh;
    left: 1.5rem;
    font-size: 1.75rem;
  }
  .guess-left {
    position: absolute;
    bottom: 30vh;
    left: 1.5rem;
    width: 25vw;
    font-size: 1.75rem;
  }
  
  .guess-number {
    position: absolute;
    bottom: 20vh;
    left: 1.5rem;
    width: 25vw;
    font-size: 1.75rem;
  }
}
/*.winner {
 
  display: none;
  background-color: rgba(10, 248, 10, 0.116);
  opacity: .8;
  color: white;
  font-size: 3rem;
}

.looser {

  display: none;
  background-color: red;
  opacity: .2;
  color:white;
  font-size:3rem;
} */